version: "3.8"

services:
  # 1. SERVICIO DE BASE DE DATOS
  postgres:
    image: postgres:alpine3.14
    container_name: database-postgres
    restart: always
    environment:
      - POSTGRES_PASSWORD=dc#2025
    ports:
      - "5439:5432"
    networks:
      - sgpghu
    # ¡NUEVO! Healthcheck para evitar que el backend falle al inicio
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  # 2. SERVICIO BACKEND (API)
  backend:
    # Asegúrate de que este nombre coincida con tu carpeta real
    build: ./backend 
    container_name: backend-api
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
    ports:
      - "8000:8000"
    environment:
      - POSTGRES_SERVER=postgres
      - POSTGRES_PORT=5432
      - POSTGRES_PASSWORD=dc#2025
      - POSTGRES_USER=postgres
      - POSTGRES_DB=horarios_db
    depends_on:
      postgres:
        condition: service_healthy # Espera a que el healthcheck de arriba diga "OK"
    networks:
      - sgpghu

  # 3. SERVICIO FRONTEND (Vue + Nginx)
  frontend:
    # Ruta a la carpeta donde está el Dockerfile del front
    build: ./frontend
    container_name: mi-frontend
    ports:
      - "8080:80" # Tu compu (8080) -> Contenedor (80)
    depends_on:
      - backend # Esperamos a que el backend arranque primero (buena práctica)
    networks:
      - sgpghu

networks:
  sgpghu:
    name: ms-dc